body{
    background: #f7e27f;
}

.contact-box{
    background:#fff;
    box-shadow:0 4px 20px rgba(0,0,0,0.1);
    border-radius:10px;
    overflow:hidden;
}


.left-panel h5,
.right-panel h5{
    background:#f7e079;
    color:#9A8009;
    padding:12px;
    margin:-1rem -1rem 1rem;
    text-align:center;
    font-weight:600;
}
.left-panel{
    border-right:1px solid #c0c0c0;
}

.info-box{
    padding:20px;
    border-bottom:1px solid #c0c0c0;
}

.right-panel{
    background:#fff;
    padding:20px;
}