
/** Logo and shop name**/
.jumbotron {
    padding: 20px 0;   /* reduce height */
    margin-bottom: 0;  /* remove gap below */
    background-color: #f7e079;
}

.jumbotron h1 {
    font-size: 36px;
    margin-bottom: 5px;
}

.jumbotron h3 {
    font-size: 18px;
    margin-top: 0;
}

.logo{
  height: 120px;
  width: auto;
}

.header-brand{
  width: 34%;
  padding: 0px 0;
}
.media-body{
  padding: 20px 0;
}

/**search bar**/
.shop{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-search{
    display: flex;
    height: 42px;
    width: 600px;
    background-color: white;
    border-radius: 4px;
    justify-content: space-evenly;
    margin: 10px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-bar{
    width: 100%;
    font-size: 14px;
    border: none;
}

.nav-search:hover{
    border: 2px solid black;
}

.nav-cart{
    font-size: 25px;
    font-weight: 500;
}

/** Navbar **/
.navbar.navbar-default {
  background-color: #F1C70E;
  border: none;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #9A8009;
  color: #fff;

}
.navbar-default .navbar-nav > .active > a:hover{
  background-color: #9A8009;
  color: #fff;
  border: 2px solid #fff;
}
.navbar-default .navbar-nav > li > a{
  border: 2px solid transparent;
}
.navbar-default .navbar-nav > li > a:hover{
  border: 2px solid #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #433804;
  font-size: 18px;
}


/**Item section**/
.shop-section{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.chocolate-box{
  background-color: #FEF9E7;
}
.chocolate-box h3 {
  font-weight: 700;
  color: #0f1111;
}

.chocolate-box img {
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

/**footer**/
.footer {
  background-color: #433804;
  color: #bdbdbd;
  padding: 40px 0 20px;
  font-size: 14px;
}

.footer-title {
  color: #ffffff;
  margin-bottom: 15px;
  font-weight: 600;
}

.footer-text {
  line-height: 1.8;
}

.footer-links {
  list-style: none;
  padding-left: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: #bdbdbd;
  text-decoration: none;
}

.footer-links a:hover {
  color: #f16c1f; /* matches your Fruit Gums orange */
}

.footer hr {
  border-top: 1px solid #333;
}

.copyright {
  margin-top: 10px;
  font-size: 13px;
  color: #dfdfdf;
}
