body{
    background: #f7e27f;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.white-card{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    height:500px;
    width: 450px;
    padding: 25px;
    background-color: #fff;
    text-align: center;

}
.form-group {
    margin-top: 30px;
    margin-bottom: 20px;   
}

.form-control {
    height: 45px;         
    font-size: 16px;       
}

.btn{
    font-size:20px;
    margin-top:50px;
    margin-bottom: 30px;
}
